.colapso-barra-chat {
    position: fixed;
    bottom: 0;
    right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.colapsar {
    font-family: Ubuntu;
    background-color: rgb(14, 147, 165);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 350px;
    text-align: left;
    outline: none;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid white;
    border-bottom: none;
}

.conteudo {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #222926;
}

.bloco-de-chat {
    width: 350px;
    background: rgb(255, 255, 255);
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.container-externo {
    min-height: 500px;
    bottom: 0%;
    position: relative;
}

.container-chat {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.container-chat::-webkit-scrollbar {
    display: none;
}

.bloco-de-input-chat {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #333333;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

.icones-barra-chat {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

#icone-chat:hover {
    opacity: .7;
}


#inputUsuario {
    width: 75%;
}

.caixa-input {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.textoUsuario {
    color: white;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.textoUsuario span {
    line-height: 1.5em;
    display: inline-block;
    background: #11a152;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.textoBot {
    color: white;
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.textoBot span {
    line-height: 1.5em;
    display: inline-block;
    background: rgb(9, 96, 107);
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .colapso-barra-chat {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .colapsar {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}